@import "tailwindcss";

@theme {
  --animate-*: initial;
  --animate-accordion-slide-up: accordionSlideUp 300ms
    cubic-bezier(0.76, 0, 0.24, 1);
  --animate-accordion-slide-down: accordionSlideDown 300ms
    cubic-bezier(0.76, 0, 0.24, 1);
  --animate-carousel-show: carouselShow 750ms ease-in-out 300ms forwards;
  --animate-collapsible-slide-up: collapsibleSlideUp 300ms
    cubic-bezier(0.76, 0, 0.24, 1);
  --animate-collapsible-slide-down: collapsibleSlideDown 300ms
    cubic-bezier(0.76, 0, 0.24, 1);
  --animate-dialog-scale-in: dialogScaleIn 300ms cubic-bezier(0.45, 0, 0.55, 1);
  --animate-dialog-scale-out: dialogScaleOut 300ms
    cubic-bezier(0.45, 0, 0.55, 1);
  --animate-overlay-fade-in: fadeIn 400ms ease-in-out;
  --animate-overlay-fade-out: fadeOut 400ms ease-in-out;
  --animate-navigation-menu-enter-from-right: navigationMenuEnterFromRight 300ms
    ease forwards;
  --animate-navigation-menu-enter-from-left: navigationMenuEnterFromLeft 300ms
    ease forwards;
  --animate-navigation-menu-exit-to-right: navigationMenuExitToRight 300ms ease
    forwards;
  --animate-navigation-menu-exit-to-left: navigationMenuExitToLeft 300ms ease
    forwards;
  --animate-navigation-menu-enter-from-bottom: navigationMenuEnterFromBottom
    300ms ease forwards;
  --animate-navigation-menu-enter-from-top: navigationMenuEnterFromTop 300ms
    ease forwards;
  --animate-navigation-menu-exit-to-bottom: navigationMenuExitToBottom 300ms
    ease forwards;
  --animate-navigation-menu-exit-to-top: navigationMenuExitToTop 300ms ease
    forwards;
  --animate-popover-fade-in: fadeIn 200ms ease-in-out;
  --animate-popover-fade-out: fadeOut 200ms ease-in-out;
  --animate-select-fade-in: selectFadeIn 200ms ease-in-out;
  --animate-select-fade-out: selectFadeOut 200ms ease-in-out;
  --animate-toast-fade-out: fadeOut 100ms ease-in;
  --animate-toast-slide-in: toastSlideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-toast-swipe-out: toastSwipeOut 100ms ease-out;
  --animate-viewport-hide: viewportHide 300ms ease-in forwards;
  --animate-viewport-show: viewportShow 300ms ease-out;

  --color-neutral-primary-50: oklch(98.5% 0.002 247.839);
  --color-neutral-primary-100: oklch(96.7% 0.003 264.542);
  --color-neutral-primary-200: oklch(92.8% 0.006 264.531);
  --color-neutral-primary-300: oklch(87.2% 0.01 258.338);
  --color-neutral-primary-400: oklch(70.7% 0.022 261.325);
  --color-neutral-primary-500: oklch(55.1% 0.027 264.364);
  --color-neutral-primary-600: oklch(44.6% 0.03 256.802);
  --color-neutral-primary-700: oklch(37.3% 0.034 259.733);
  --color-neutral-primary-800: oklch(27.8% 0.033 256.848);
  --color-neutral-primary-900: oklch(21% 0.034 264.665);
  --color-neutral-primary-950: oklch(13% 0.028 261.692);

  --color-neutral-secondary-50: oklch(98.5% 0 0);
  --color-neutral-secondary-100: oklch(97% 0 0);
  --color-neutral-secondary-200: oklch(92.2% 0 0);
  --color-neutral-secondary-300: oklch(87% 0 0);
  --color-neutral-secondary-400: oklch(70.8% 0 0);
  --color-neutral-secondary-500: oklch(55.6% 0 0);
  --color-neutral-secondary-600: oklch(43.9% 0 0);
  --color-neutral-secondary-700: oklch(37.1% 0 0);
  --color-neutral-secondary-800: oklch(26.9% 0 0);
  --color-neutral-secondary-900: oklch(20.5% 0 0);
  --color-neutral-secondary-950: oklch(14.5% 0 0);

  --color-primary-50: oklch(98.2% 0.018 155.826);
  --color-primary-100: oklch(96.2% 0.044 156.743);
  --color-primary-200: oklch(92.5% 0.084 155.995);
  --color-primary-300: oklch(87.1% 0.15 154.449);
  --color-primary-400: oklch(79.2% 0.209 151.711);
  --color-primary-500: oklch(72.3% 0.219 149.579);
  --color-primary-600: oklch(62.7% 0.194 149.214);
  --color-primary-700: oklch(52.7% 0.154 150.069);
  --color-primary-800: oklch(44.8% 0.119 151.328);
  --color-primary-900: oklch(39.3% 0.095 152.535);
  --color-primary-950: oklch(26.6% 0.065 152.934);

  --breakpoint-2xs: 384px;
  --breakpoint-xs: 512px;

  @keyframes accordionSlideUp {
    from {
      height: var(--height);
    }

    to {
      height: 0;
    }
  }

  @keyframes accordionSlideDown {
    from {
      height: 0;
    }

    to {
      height: var(--height);
    }
  }

  @keyframes carouselShow {
    from {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }

    to {
      opacity: 1;
      filter: blur(0);
    }
  }

  @keyframes collapsibleSlideUp {
    from {
      height: var(--height);
    }

    to {
      height: 0;
    }
  }

  @keyframes collapsibleSlideDown {
    from {
      height: 0;
    }

    to {
      height: var(--height);
    }
  }

  @keyframes dialogScaleIn {
    from {
      transform: scale(0);
      opacity: 0;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes dialogScaleOut {
    from {
      transform: scale(1);
      opacity: 1;
    }

    to {
      transform: scale(0);
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes navigationMenuEnterFromRight {
    from {
      opacity: 0;
      transform: translateX(200px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes navigationMenuEnterFromLeft {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes navigationMenuExitToRight {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 0;
      transform: translateX(200px);
    }
  }

  @keyframes navigationMenuExitToLeft {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  @keyframes navigationMenuEnterFromBottom {
    from {
      opacity: 0;
      transform: translateY(200px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes navigationMenuEnterFromTop {
    from {
      opacity: 0;
      transform: translateY(-200px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes navigationMenuExitToBottom {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(200px);
    }
  }

  @keyframes navigationMenuExitToTop {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(-200px);
    }
  }

  @keyframes selectFadeIn {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes selectFadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(-8px);
    }
  }

  @keyframes toastSlideIn {
    from {
      transform: translateX(calc(100% + var(--viewport-padding)));
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes toastSwipeOut {
    from {
      transform: translateX(var(--kb-toast-swipe-end-x));
    }

    to {
      transform: translateX(calc(100% + var(--viewport-padding)));
    }
  }

  @keyframes viewportHide {
    from {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }

    to {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.96);
    }
  }

  @keyframes viewportShow {
    from {
      opacity: 0;
      transform: rotateX(-20deg) scale(0.96);
    }

    to {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  body {
    @apply bg-neutral-secondary-800 p-5 text-neutral-primary-100;
  }
}

:root {
  --arrow-background: var(--color-neutral-secondary-900);
  --arrow-size: 0.75rem;
}
